.click-me,
.no-me{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman" sans-serif;
}
.click-me{
    color:white;
    background-color: rgb(0,0,0)
}
.no-me{
    background-color: rgb(238, 255, 3);
}