div {
    text-align: center;
    color: white;
    background-color: red;
    width:auto;
    height: 35px;
    font-size: 32px;
    font-weight: bold;
    font-family: "Times New Roman, Times, serif";
}